<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('include/_header.ejs')  %>
    <main>
        <div class="container">
            <div class="button-user">
                <a href="/" class="border-shadow">
                    <span class="gradient-color"><i class="fas fa-angle-double-left"></i>All user</span>
                </a>
            </div>
            <div class="text-center margin-bottom">
                <h2 class="dark-blue">Update user</h2>
                <p class="light-color">Use the form below to update an existing user</p>
            </div>
            <form action="/api/user" method="POST">
                <div id="group_form_all">
                    <div class="form_group">
                        <label for="firstname" class="light-color">Firstname </label><br>
                        <input class="width" type="name" name="firstname" placeholder="Mohamed">
                </div>
                <div class="form_group">
                    <label for="lastname" class="light-color">Lastname </label><br>
                    <input class="width" type="name" name="lastname" placeholder="Necib">
                </div>
                <div class="form-group">
                    <div>
                        <label for="email" class="light-color">Email </label><br>
                        <input class="width" type="email" name="email" placeholder="username@gmail.com">
                    </div>
                </div>
                <div class="form_group">
                    <label for="gender" class="light-color">Gender</label>
                    <div class="inline ">
                        <input  type="radio" name="gender" value="Male">
                        <label for="gender" class="text-light">Male</label>
                    </div>
                    <div class="inline">
                        <input type="radio" name="gender" value="Female">
                        <label for="gender" class="text-light">Female</label>
                    </div>
                </div>
                <div id="form_group" class='margin-bottom'>
                    <label for="statut" class="light-color">Statut </label>
                    <div class="inline">
                        <input type="radio" name="statut" value="active">
                        <label for="statut" class="text-light">Active</label>
                    </div>
                    <div class="inline">
                        <input type="radio" name="statut" value="inactive">
                        <label for="Statut" class="text-light">Inactive</label>
                    </div>
                </div>
                <div class="form-group color-green">
                    <button class="width" type="submit">Save</button>
                </div>
            </div>
            </form>
    </div>
    </main>
</body>
</html>